.grid-parent {
  position: relative;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
}
.grid-item {
  border: 3px solid red;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
  font-weight: bold;
}
body {
  max-width: 50%;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
#logo {
  display: block;
}
/* button {
  padding: 10px;
  border: none;
  background-color: white;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
  font-weight: bold;
} */
